@import url("https://unpkg.com/reset-css@5.0.1/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700;900&display=swap');

body {
  font-size: 16px;
  font-family: 'Fredoka', sans-serif;
  color: #333;
}

h1 {
  font-weight: 900;
  letter-spacing: .8px;
}

h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 20px;}

h2,h3,h4,h5 {font-weight: 900}

strong {font-weight: 700}